fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings

pymupdf
pdfplumber
pytesseract
Pillow

rapidfuzz

python-multipart

motor
pymongo

google-generativeai

python-dotenv

pytest
pytest-cov

alembic

httpx

orjson